<main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter Assignment
    </button>
  </a>

  <h2>Liste des devoirs :</h2>
  <div class="barrePagination">
    <p>Page courante : {{page}}, assignments visibles : {{pagingCounter}} - {{pagingCounter + limit-1}}, nbPages total {{totalPages}}</p>
    <p>Nb assignments par page : <input type="range" min=5 max=100 [(ngModel)]="limit" (change)="getAssignments()">
      {{limit}}
    </p>

    <button mat-flat-button color="primary" [disabled]="!hasPrevPage" (click)="premierePage()">Première page</button>
    &nbsp;

    <button mat-flat-button color="primary"
            (click)="pagePrecedente()"
            [disabled]="!hasPrevPage"
    >Page précédente</button>
    &nbsp;
    <button mat-flat-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Page suivante</button>
    &nbsp;
    <button mat-flat-button color="primary" (click)="dernierePage()" [disabled]="!hasNextPage">Dernière page</button>
  </div>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Rendu">
      <div class="card-container">
        <div *ngFor="let assignment of assignments">
          <div *ngIf="assignment.rendu" >
            <mat-card class="card">
              <mat-card-title-group>
                <mat-card-subtitle>{{assignment.dateDeRendu | date:"dd/MM/yy"}}</mat-card-subtitle>
                <mat-card-title class="card-title">{{assignment.titre}}</mat-card-title>
                <img class="card-prof" width="50" height="50" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                <p style="margin: 0 150px;">
                  <img style="border-radius: 8px;"  width="100" height="100" src="../../assets/oracle-logo.png" >
                </p>
                <p><u><b>Matière:</b></u> " {{assignment.matiereRef.nom}} "</p>
                <p><u><b>Nom de l'élève:</b></u> " {{assignment.eleveRef.nom}} "</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button mat-button (click)="openDetailsDialog(assignment)">VOIR DÉTAILS</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="À rendre">
      <div class="card-container">
        <div *ngFor="let assignment of assignments">
          <div *ngIf="!assignment.rendu" >
            <mat-card class="card">
              <mat-card-title-group>
                <mat-card-subtitle>{{assignment.dateDeRendu | date:"dd/MM/yy"}}</mat-card-subtitle>
                <mat-card-title class="card-title">{{assignment.titre}}</mat-card-title>
                <img class="card-prof" width="50" height="50" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                <p style="margin: 0 150px;">
                  <img style="border-radius: 8px;"  width="100" height="100" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                </p>
                <p><u><b>Matière:</b></u> " {{assignment.matiereRef.nom}} "</p>
                <p><u><b>Nom de l'élève:</b></u> " {{assignment.eleveRef.nom}} "</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button mat-button (click)="openDetailsDialog(assignment)">VOIR DÉTAILS</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!--<mat-list *ngFor="let assignment of assignments">
    <div>
      <a href="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu | date:"dd/MM/yy"}}</h3>
        <mat-list-item>
          <p *ngIf="assignment.rendu; else nonsoumis" appRendu>
            Devoir intitulé {{assignment.nom}}.
          </p>
          <ng-template #nonsoumis>
            <p appNonRendu>Le devoir {{assignment.nom}} n'a pas encore été rendu.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </div>
  </mat-list>-->
</main>
